<nav class="navbar bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-home"></i>Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Bán chạy nhất</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>Thời trang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-child"></i>Quần áo trẻ em </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Quần áo nam & nữ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Tiện ích & Phụ kiện</a>
        </li>
    </ul>
</nav>
